@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

:root {
  --blue: #007ced;
  --dark: #222;
  --dark-title-bg: #252525;
  --white: #fff;
  --white-50: #ffffff80;
  --grey: #444;
  --grey-btn: #333;

  /* Font */
  --font-family: "Poppins";
  --font-weight-400: normal;
  --font-weight-700: bold;

  --font-size-100: 16px;
  --font-size-200: 18px;
  --font-size-300: 20px;
  --font-size-400: 24px;
  --font-size-500: 28px;
  --font-size-600: 55px;
  --font-size-700: 70px;

  /*spacing*/
  --header-height: 160px;
  --footer-height: 68px;
  --padding-side: 60px;
  --nav-gap: 76px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}
a {
  color: inherit;
  text-decoration: inherit;
}
ol,
ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

/* Layout */
body {
  height: 100%;
  width: 100%;
  background-color: var(--dark);
  color: var(--white);
  font-size: var(--font-size-200);
}
.container {
  height: 100%;
  width: 100%;
}
header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-side);
}

.logo {
  font-size: var(--font-size-500);
  font-weight: var(--font-weight-700);
}

.top-list {
  display: flex;
  gap: var(--nav-gap);
}

a:hover {
  color: var(--blue);
}

.nav-toggle {
  display: none;
}

.hero {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 0 var(--padding-side);
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 780px;
  max-height: 500px; /* match height of hero-img */
  gap: 30px;
}

.hero-img {
  border-radius: 50%;
  border: 10px solid var(--grey);
  width: 500px;
  min-width: 500px;
  height: 500px;
  object-fit: cover;
  object-position: 0 1%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hero-img:hover {
  border: 10px solid var(--blue);
}

.hero-subtitle {
  font-size: var(--font-size-400);
  color: var(--white-50);
}

.hero-title {
  font-size: var(--font-size-700);
  font-weight: var(--font-weight-700);
}

.btn-container {
  display: flex;
  gap: 10px;
}

.btn {
  background-color: var(--grey-btn);
  color: var(--white);
  padding: 15px 50px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: #d5d5d5 3px solid;
}

.btn:hover {
  border: var(--blue) 3px solid;
}

/* skills section */
.title-container {
  width: 100%;
  background-color: var(--dark-title-bg);
  border: var(--grey-btn) 1px solid;
  padding: 50px var(--padding-side);
  font-size: var(--font-size-600);
  font-weight: var(--font-weight-700);
}

.skills-container {
  padding: 80px var(--padding-side);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skills-left {
  min-width: 500px;
}

.skills-container__item {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills-list-title {
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-700);
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skills-list__item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.skills-list__content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-list__content h3 {
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-700);
}

.skills-list__content p {
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-400);
  color: var(--white-50);
}

.coding-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.coding-list__bar {
  width: 300px;
  height: 11px;
  padding: 1px;
  border: var(--grey-btn) 1px solid;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.bar-inner {
  background-color: #007ced;
  height: 100%;
  width: 60%;
  border: var(--grey-btn) 1px solid;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.bar-inner1 {
  width: 100%;
}

.bar-inner2 {
  width: 100%;
}

.bar-inner3 {
  width: 80%;
}

.portfolio-container {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 100%;
  display: flex;
  padding: 0 var(--padding-side);
}

.align-center {
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.align-center h3 {
  margin-top: -10px;
}

.info-container {
  width: 100%;
}

.info-list {
  width: 100%;
  height: 700px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

section {
  height: 100vh;
}

footer {
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  height: var(--footer-height);
  padding: 0 var(--padding-side);
  color: var(--white-50);
  font-size: var(--font-size-100);
  border-top: var(--grey) 1px solid;
  align-items: center;
}

/* media query */
@media (max-width: 768px) {
  .container {
    padding: 0px;
  }
  header {
    height: fit-content;
    padding: 10px 20px;
  }
  .nav-toggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999;
  }
  .top-list {
    display: none;
  }

  /* Show the top-list when the nav-toggle is clicked */
  .top-list.show {
    display: flex;
    flex-direction: column;
    padding: min(10vh, 50px) 20px;
    gap: 30px;
    position: fixed;
    inset: 0 0 0 40%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    animation: slideInFromRight 0.5s forwards;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-content {
    text-align: center;
    align-items: center;
  }
  .hero-img {
    width: 300px;
    height: 300px;
    min-width: 300px;
  }

  .hero-title {
    font-size: var(--font-size-500);
  }

  .btn-container {
    flex-direction: column;
  }

  .coding-list__bar {
    width: 300px;
  }
  .skills-container {
    flex-direction: column;
    padding: 80px 20px;
  }

  .skills-container__item {
    align-items: center;
    max-width: 100%;
  }

  .hero {
    height: 100vh;
  }

  .contact-container {
    flex-direction: column;
    padding: 0;
  }

  .info-container {
    padding: 0;
  }

  .info-list {
    flex-direction: column;
    justify-content: center;
  }

  .skills-left {
    min-width: 0;
  }

  section {
    height: auto;
  }
  footer {
    position: relative;
    margin-top: 30px;
    padding: 0;
    justify-content: center;
  }
}
